<!DOCTYPE html>
<html>
<head>
	<title>Video Streaming Demonstration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
<div id="title">
  <h1 data_temp_dwid="1">Veritas</h1>
</div>
<div class="content"> 
  <img src="{{ url_for('video_feed') }}">
  <img src="/static/image/veritas.png" id= "video" alt="video stream">
  <ul id="bar-graph"> 
	  <li><span id="neutral" class="bar"></span><img src="/static/image/neutral.png" alt="neutral">neutral</li>
	  <li><span id="anger" class="bar"></span><img src="/static/image/anger.png" alt="anger">anger</li>
	  <li><span id="contempt" class="bar"></span><img src="/static/image/contempt.png" alt="contempt">contempt</li>
	  <li><span id="disgust" class="bar"></span> <img src="/static/image/disgust.png" alt="disgust">disgust</li>
	  <li><span id="fear" class="bar"></span> <img src="/static/image/fear.png" alt="fear">fear</li>
	  <li><span id="happy" class="bar"></span> <img src="/static/image/happy.png" alt="happy">happy</li>
	  <li><span id="sadness" class="bar"></span><img src="/static/image/sadness.png" alt="sadness">sadness</li>
	  <li><span id="surprise" class="bar"></span><img src="/static/image/surprise.png" alt="surprise">surprise</li>
  </ul>
</div>
</body>
</html>
