<!DOCTYPE html>
<html>
<head>
<title>Veritas Demonstration</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
</head>

<body>
<div id="logo">
  <h1 data_temp_dwid="1">Veritas</h1>
</div>
<div id="all">
  <div class="content"> 
    <!--    NLP Section   -->
    <div id="nlp" class="datablock">
      <h2 class="title">Language</h2>
      <div id="words">
        <h3 id=>Stimulus:</h3>
        <p id="q-content" class="small_text"></p>
        <h3>Response:</h3>
        <p id="a-content"></p>
      </div>
    <div id="result_nlp">
        <div id="nlp_emoji_div" class="vertical"></div>
        <div id="nlp_conf_div" class="vertical"></div>
    </div>
    </div>
    <!--    Emotion recognition section -->
    <div id="emotion" class="datablock">
      <h2 class="title">Emotion</h2>
      <img src="../static/image/veritas.png" id= "video" alt="video stream"/>
      <ul id="bar-graph-emotion"class="bar-graph">
        <li><span id="neutral" class="bar"></span><img src="../static/image/neutral.png" alt="neutral"></li>
        <li><span id="anger" class="bar"></span><img src="../static/image/anger.png" alt="anger"></li>
        <li><span id="contempt" class="bar"></span><img src="../static/image/contempt.png" alt="contempt"></li>
        <li><span id="disgust" class="bar"></span> <img src="../static/image/disgust.png" alt="disgust"></li>
        <li><span id="fear" class="bar"></span> <img src="../static/image/fear.png" alt="fear"></li>
        <li><span id="happy" class="bar"></span> <img src="../static/image/happy.png" alt="happy"></li>
        <li><span id="sadness" class="bar"></span><img src="../static/image/sadness.png" alt="sadness"></li>
        <li><span id="surprise" class="bar"></span><img src="../static/image/surprise.png" alt="surprise"></li>
      </ul>
    </div>
  </div>
  <div id="result" class="datablock">
    <h2 class="title">Result</h2>
      <h3>Current Emotion</h3>
      <div id="current_emotion">    
          <div class="vertical">
            <p id="result_emotion"></p>
            <div id="result_emoji"></div> 
        </div>
          <div class="vertical">
            <p id="overall_level" class="small_text">confidence level</p>
            <h4 id="conf_level"></h4>
          </div>
      </div>
      <div id="prob_lie">
        <h3>Probability of Lying Over Time</h3>
        <div id="chartContainer" style="height: 100px; width: 100%;"></div>
      </div>
  </div>
</div>
<footer>
  <p>Made by the Visionphiles</p>
</footer>
</body>
</html>
